@media screen and (max-width: 555px) {
    .Main{
        width: 95%;
    }
    .Container{
        height: fit-content;
        padding-bottom: 1vh;
    }
    .span{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 100%;
        margin-top: 1vh;
    }
    .span2{
        width: 100%;
        display: flex;
    }
    .span2 select{
        width: 90%;
    }
    .Details{
        height: fit-content;
        padding-bottom: 1vh;
    }
    .Inside{
        border: 1.5px rgb(48, 47, 47) solid;
        border-radius: 10px;
        padding: 5px 0 3px 5px;
    }
}
